---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import SobreMi from '../components/SobreMi.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import SocialBlock from '../components/SocialBlock.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import Experiencia from '../components/Experiencia.astro';
import Proyectos from '../components/Proyectos.astro';
import Container from '../components/Container.astro';
import ExperienciaIcon from '../components/icons/ExperienciaIcon.astro';
import CodeIcon from '../components/icons/code.astro';
import UserIcon from '../components/icons/User.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Porfoli de Pol Canet - Estudiant de CFGM Sistemes microinformàtics i xarxes" description="Explora els meus coneixements i experiències com a estudiant">
	<main  class="px-4">
		<Container class="pt-36 pb-32">
			<img 
    		class="w-30 h-80 "
    		src="/me/avatar.webp" 
    		alt="avatar foto">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex gap-x-4 pb-6 lg:pb-10">
				Hey, soc en Pol <a href="https://www.linkedin.com/in/pol-canet-bartes" 
				target="_blank" 
				rel="noopener"
				class="flex justify-center items-center pt-1 px-4">
					<Badge>Disponible per a treballar</Badge></a>
			</h1>
			<h2 class="text-xl lg:text-2xl opacity-90 text-wrap max-w-[700px]">
				<span>Estudiant d'FP de Grau Mitjà de <span class="text-yellow-200/90 font-semibold">Sistemes Microinformàtics  i xarxes.</span></span><span class="text-red-200/90"> De Terrassa, Barcelona.</span> 
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialBlock href="https://www.linkedin.com/in/pol-canet-bartes">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialBlock>
				<SocialBlock href="https://github.com/pingunody">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialBlock>
				<SocialBlock href="mailto:polcanetbartes@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					polcanetbartes@gmail.com
				</SocialBlock>
			</nav>
		</Container>
		<Container id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
				<ExperienciaIcon class="size-7" />
				Experiència
			</h2>
			<Experiencia />
		</Container>
		<Container id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
				<CodeIcon class="size-7" />
				Projectes
			</h2>
			<Proyectos />
		</Container>
		<Container id="sobre-mi">
				<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
			  	<UserIcon class="size-8" />
			 	Sobre mi
				</h2>
			<SobreMi />
		  </Container>
	</main>
</Layout>
