
---
import ExperienciaItem from "./ExperienciaItem.astro"
const EXPERIENCIA = [
{
    title: "CFGM Sistemas Microinformaticos y Redes",
    date: "Actualmente",
    description: "Estudiando cursos de CFGM en sistemas microinformáticos y redes en el Instituto Nicolau Copernic de Terrassa.",
    location: "Terrassa",
    link: "https://copernic.cat/ca/cfgm-sistemes-microinformatics-i-xarxes",
},
{
    title: "Programación y robótica",
    date: "2017-2024",
    description: "Desde los 9 años he estado programando y aprendiendo sobre robótica y programación a través de una academia especializada.",
    location: "Codelearn",
}

]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCIA.map(experiencia => (
            <li class="mb-10 ms-4">
                <ExperienciaItem {...experiencia} />
            </li>
        ))
    }                  
</ol>

