
---
import ExperienciaItem from "./ExperienciaItem.astro"
const EXPERIENCIA = [
{
    title: "CFGM Sistemes Microinformàtics i Xarxes",
    date: "Actualment",
    description: "Estudiant curs de CFGM en sistemes microinformàtics i xarxes en l'Institut Nicolau Copèrnic de Terrassa.",
    location: "Terrassa",
    link: "https://copernic.cat/ca/cfgm-sistemes-microinformatics-i-xarxes",
},
{
    title: "Programació i robòtica",
    date: "2017-2024",
    description: "Des dels 9 anys he estat programant i aprenent sobre robòtica i programació a través d'una acadèmia especialitzada.",
    location: "Codelearn",
}

]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCIA.map(experiencia => (
            <li class="mb-10 ms-4">
                <ExperienciaItem {...experiencia} />
            </li>
        ))
    }                  
</ol>

