---
const personalImageAlt = "Pol Canet"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p class="dark:text-gray-500 text-gray-400 font-semibold">
        Me llamo Pol, empece a interesarme por la tecnologia quando entre en una academia de programación y robótica quando tenía 9 años. <strong>Actualmente estoy cursando un grado medio de Sistemas Microinformaticos</strong>.
    </p>

    <p class="dark:text-gray-500 text-gray-400 font-semibold">
      Estoy interesado en el desarrollo de aplicaciones multiplataformas e intento aprender por mi cuenta a través de cursos online y proyectos personales. <strong
        >Me gusta aprender y compartir mis conocimientos con los demás</strong
    </p>
  </div>

  <img width="200" height="200" src="/me/avatarme.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>